*{
	margin:0; 
	padding:0;
}

#main{
	display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width:100%;
  
}

#lab {
	position: relative;
  width: 100%;
  height: 100%; 
}

#maze {
  background: white;
  position: absolute;
  
}

#myCanvas {
  position: absolute;
  border:1px solid;

}

#solution {
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}

