body {
      background: #f5f5f5;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
 
    svg {
      background: white;
    }
 
    .draw-line {
      stroke-dasharray: 1;
      stroke-dashoffset: 1;
      animation: draw-line 8s linear forwards;
    }
 
    @keyframes draw-line {
      to {
        stroke-dashoffset: 0;
      }
    }